Repository go-delve/delve, pull requests merged in 2021-06, with the labels that each got.

#2525 service/dap: generate continued events for step tests
  service/dap/daptest/gen/main.go
  service/dap/daptest/resp.go
  service/dap/server_test.go
Labels: area/dap

#2513 dap: add 'clipboard' support, and truncate a long value
  service/dap/daptest/client.go
  service/dap/server.go
  service/dap/server_test.go
Labels: area/dap, awaiting-dap-ack

#2523 service/dap: make stopped event description for exception more concise
  service/dap/server.go
  service/dap/server_test.go
Labels: area/dap, needs-rebase

#2476 service/dap: handle no-such-process disconnect error
  service/dap/server.go
  service/dap/server_test.go
Labels: area/dap, priority/P2

#2512 service/dap: implement array, slice, and map paging
  pkg/proc/eval.go
  service/dap/daptest/client.go
  service/dap/handles.go
  service/dap/server.go
  service/dap/server_test.go
  service/debugger/debugger.go
Labels: area/dap, awaiting-dap-ack

#2522 service/dap: deemphasize internal runtime stack frames
  pkg/terminal/command.go
  service/dap/server.go
  service/dap/server_test.go
Labels: area/dap

#2529 service/dap: truncate value for expandable types in hover
  service/dap/server.go
  service/dap/server_test.go
Labels: area/dap

#2539 service/dap: separate tests for var value truncation and str loading limits
  _fixtures/testvariables2.go
  service/dap/server_test.go
Labels: area/dap

#2546 service/dap: increase default string loading limit and refactor
  _fixtures/longstrings.go
  _fixtures/testvariables2.go
  service/dap/server.go
  service/dap/server_test.go
Labels: area/dap

#2541 service/dap: add string value of byte/rune slice as child
  service/dap/daptest/client.go
  service/dap/server.go
  service/dap/server_test.go
Labels: area/dap

#2524 service/dap: add throw reason to exception info
  _fixtures/fatalerror.go
  service/dap/server.go
  service/dap/server_test.go
  service/debugger/debugger.go
Labels: area/dap

#2516 gdbserial: actually fix ZMM register support
  pkg/proc/gdbserial/gdbserver.go
Labels: area/proc/gdbserial, awaiting-tester-ack
