Repository go-delve/delve, pull requests merged in 2021-07, with the labels that each got.

#2527 proc: give unique addresses to registerized variables
  _fixtures/morestringarg.go
  pkg/proc/breakpoints.go
  pkg/proc/core/core_test.go
  pkg/proc/dwarf_export_test.go
  pkg/proc/eval.go
  pkg/proc/fncall.go
  pkg/proc/mem.go
  pkg/proc/proc_test.go
  pkg/proc/scope_test.go
  pkg/proc/stack.go
  pkg/proc/target.go
  pkg/proc/target_exec.go
  pkg/proc/variables.go
  service/debugger/debugger.go
  service/test/integration2_test.go
  service/test/variables_test.go
Labels: area/proc

#2550 service/dap: set hit breakpoint ids
  service/dap/server.go
  service/dap/server_test.go
Labels: area/dap

#2559 service/dap: add panic and throw text to stopped event
  pkg/goversion/compat.go
  pkg/goversion/go_version.go
  service/dap/server.go
  service/dap/server_test.go
Labels: area/dap, priority/P0

#2587 service/dap: send terminated event when disconnecting
  cmd/dlv/dlv_test.go
  service/dap/server.go
  service/dap/server_test.go
Labels: area/dap

#2592 service/dap: variables response must not have null variables array
  service/dap/server.go
  service/dap/server_test.go
Labels: area/dap, priority/P0

#2584 service/dap: add len as metadata for map
  service/dap/server.go
  service/dap/server_test.go
Labels: area/dap

#2367 service/dap: Support for replay and core modes
  Documentation/usage/dlv_dap.md
  cmd/dlv/cmds/commands.go
  pkg/proc/gdbserial/rr.go
  service/dap/server.go
  service/dap/server_test.go
Labels: area/dap, needs-rebase, priority/P1

#2519 proc: allow multiple overlapping internal breakpoints
  pkg/proc/breakpoints.go
  pkg/proc/gdbserial/gdbserver.go
  pkg/proc/gdbserial/rr_test.go
  pkg/proc/proc_test.go
  pkg/proc/target_exec.go
  service/api/conversions.go
  service/debugger/debugger.go
  service/test/integration2_test.go
Labels: area/proc

#2597 service/dap: page stack frames
  service/dap/server.go
  service/dap/server_test.go
Labels: area/dap
