Repository go-delve/delve, pull requests merged in 2021-05, with the labels that each got.

#2444 service/dap: implement exception info
  pkg/terminal/command.go
  service/dap/daptest/client.go
  service/dap/error_ids.go
  service/dap/server.go
  service/dap/server_test.go
  service/debugger/debugger.go
Labels: area/dap

#2485 dwarf/op,proc: fix handling of DW_OP_piece
  pkg/dwarf/op/op.go
  pkg/proc/dwarf_expr_test.go
  pkg/proc/mem.go
  pkg/proc/proc_test.go
Labels: area/dwarf

#2463 proc: correctly truncate the result of binary ops on integers
  pkg/proc/eval.go
  pkg/proc/proc_unexported_test.go
  service/test/variables_test.go
Labels: area/proc

#2466 service/dap: support pause request
  service/dap/daptest/client.go
  service/dap/error_ids.go
  service/dap/server.go
  service/dap/server_test.go
Labels: area/dap, needs-rebase, priority/P1

#2480 service/dap: send 'continued' event on next/step/stepout requests
  service/dap/server.go
  service/dap/server_test.go
Labels: area/dap, needs-rebase, priority/P1

#2450 service/dap: implement function breakpoints
  service/dap/daptest/client.go
  service/dap/server.go
  service/dap/server_test.go
  service/debugger/debugger.go
Labels: area/dap, priority/P1

#2494 dap: add sameuser check
  cmd/dlv/cmds/commands.go
  service/dap/server.go
  service/internal/sameuser/doc.go
  service/internal/sameuser/sameuser.go
  service/internal/sameuser/sameuser_linux.go
  service/internal/sameuser/sameuser_linux_test.go
  service/rpccommon/sameuser.go
  service/rpccommon/server.go
Labels: area/dap

#2486 proc: fix runtimeTypeToDIE setup
  pkg/proc/bininfo.go
  pkg/proc/types.go
Labels: area/proc

#2496 service/dap: support evaluate for hover context
  service/dap/daptest/client.go
  service/dap/server.go
  service/dap/server_test.go
Labels: area/dap

#2499 service/dap: set function breakpoints while running
  service/dap/server.go
  service/dap/server_test.go
Labels: area/dap

#2440 dap: handle SetVariable requests
  _fixtures/testvariables2.go
  service/dap/daptest/client.go
  service/dap/error_ids.go
  service/dap/server.go
  service/dap/server_test.go
Labels: area/dap, awaiting-dap-ack, needs-rebase, priority/P1

#2468 pkg/proc: Enable CGO Stacktrace tests on arm64
  Documentation/backend_test_health.md
  pkg/proc/proc_test.go
Labels: area/proc

#2418 dap: use larger string type variable load limits in 'repl', 'variables' context
  _fixtures/fncall.go
  _fixtures/testvariables2.go
  service/dap/server.go
  service/dap/server_test.go
Labels: area/dap, priority/P1

#2498 gdbserial,regnum: support ZMM registers
  _fixtures/fputest/fputest.go
  _fixtures/fputest/fputest_amd64.s
  pkg/dwarf/regnum/amd64.go
  pkg/proc/gdbserial/gdbserver.go
  pkg/proc/gdbserial/gdbserver_conn.go
  service/test/integration2_test.go
Labels: area/proc/gdbserial

#2514 dap: clean output executable name for windows
  service/dap/server.go
  service/dap/server_test.go
Labels: area/dap, os/windows

#2490 pkg/proc: add support for hit count condition breakpoints
  pkg/proc/breakpoints.go
  pkg/proc/gdbserial/gdbserver.go
  pkg/proc/native/threads.go
  pkg/proc/proc_test.go
  service/api/conversions.go
  service/api/types.go
  service/dap/daptest/client.go
  service/dap/server.go
  service/dap/server_test.go
  service/debugger/debugger.go
  service/rpc1/server.go
  service/rpc2/server.go
Labels: area/proc, needs-rebase
